aiohttp==3.8.5
beautifulsoup4==4.12.2
colorama==0.4.6
dataclasses-json==0.5.14
fastapi==0.103.1
filetype==1.2.0
GitPython==3.1.36
Jinja2==3.1.2
langchain==0.0.292
matplotlib==3.8.0
omegaconf==2.3.0
openai==0.28.0
openpyxl==3.1.2
pandas==2.1.0
passlib==1.7.4
pdf2image==1.16.3
pexpect==4.8.0
playwright==1.37.0
pyjwt[crypto]==2.8.0
pylint==2.17.5
pypdf==3.16.0
pytesseract==0.3.10
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest==7.4.2
python-dotenv==1.0.0
python-json-logger==2.0.7
rich==13.5.2
segment-analytics-python==2.2.3
sentence_transformers==2.2.2
streamlit==1.26.0
tiktoken==0.5.1
trafilatura==1.6.2
typer[all]==0.9.0
unstructured==0.10.14
uvicorn==0.23.2
wandb==0.15.10
weaviate-client==3.24.1
xxhash==3.3.0
